@import "tailwindcss";
/* @import "utilities";
@import "components";  */


@layer utilities {
  .clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  overflow-x: hidden;
}

/* * {
  cursor: none;
} */

@media (max-width: 768px) {
  * {
    cursor: auto;
  }
}
